<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">
<hibernate-configuration>

	<hibernate-configuration>
		<session-factory>
			<property name="hbm2ddl.auto">update</property>
			<property name="dialect">org.hibernate.dialect.mySQL5Dialect</property>
			<property name="connection.url">jdbc:mysql://localhost:3306/umar</property>
			<property name="connection.username">root</property>
			<property name="connection.password">root</property>
			<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
			<property name="hbm2ddl.auto">create</property>
			<mapping class="com.mavenExample.StudentData"/>





		</session-factory>








	</hibernate-configuration>